body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #1459d8 !important;
}
.bg-info {
  background-color: #1459d8 !important;
}
.bg-warning {
  background-color: #012566 !important;
}
.bg-danger {
  background-color: #012566 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #012566 !important;
  border-color: #012566 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000610 !important;
  border-color: #000610 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000610 !important;
  border-color: #000610 !important;
}
.btn-info,
.btn-info:active {
  background-color: #1459d8 !important;
  border-color: #1459d8 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #0d3889 !important;
  border-color: #0d3889 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0d3889 !important;
  border-color: #0d3889 !important;
}
.btn-success,
.btn-success:active {
  background-color: #1459d8 !important;
  border-color: #1459d8 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #0d3889 !important;
  border-color: #0d3889 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0d3889 !important;
  border-color: #0d3889 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #012566 !important;
  border-color: #012566 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #000610 !important;
  border-color: #000610 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000610 !important;
  border-color: #000610 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #012566 !important;
  border-color: #012566 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000610 !important;
  border-color: #000610 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000610 !important;
  border-color: #000610 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #012566;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000610 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #012566 !important;
  border-color: #012566 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #1459d8;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0d3889 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #1459d8 !important;
  border-color: #1459d8 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #1459d8;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #0d3889 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #1459d8 !important;
  border-color: #1459d8 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #012566;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #000610 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #012566 !important;
  border-color: #012566 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #012566;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000610 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #012566 !important;
  border-color: #012566 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #012566 !important;
}
.text-success {
  color: #1459d8 !important;
}
.text-info {
  color: #1459d8 !important;
}
.text-warning {
  color: #012566 !important;
}
.text-danger {
  color: #012566 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000001 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #0b337b !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #0b337b !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #000001 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #000001 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #1459d8;
}
.alert-warning {
  background-color: #012566;
}
.alert-danger {
  background-color: #012566;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #bfd3f9;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #bfd3f9;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #0253e4;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #0253e4;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.875rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #012566 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-toNGc8SdYY {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #012566;
}
.cid-toNGc8SdYY .mbr-fallback-image.disabled {
  display: none;
}
.cid-toNGc8SdYY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toNGc8SdYY .mbr-section-title {
  color: #ffffff;
}
.cid-toVSZKZy2n {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-toVSZKZy2n .mbr-fallback-image.disabled {
  display: none;
}
.cid-toVSZKZy2n .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toVSZKZy2n .mbr-section-title {
  color: #1459d8;
}
.cid-tmIG1zsB9n {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #012566;
}
.cid-tmIG1zsB9n .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmIG1zsB9n .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmIG1zsB9n .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-tmIG1zsB9n .card {
    margin-bottom: 2rem!important;
  }
  .cid-tmIG1zsB9n .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tmIG1zsB9n .link-wrap {
    align-items: center;
  }
}
.cid-tmIG1zsB9n .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tmIG1zsB9n .mbr-text {
  color: #012566;
}
.cid-tmIG1zsB9n .card-title,
.cid-tmIG1zsB9n .card-box {
  color: #ffffff;
  text-align: center;
}
.cid-tmIG1zsB9n .mbr-text,
.cid-tmIG1zsB9n .link-wrap,
.cid-tmIG1zsB9n .mbr-section-btn {
  color: #fafafa;
  text-align: center;
}
.cid-tmIG1zsB9n .mbr-text UL {
  text-align: left;
}
.cid-toI6W0rpTo {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-toI6W0rpTo .mbr-fallback-image.disabled {
  display: none;
}
.cid-toI6W0rpTo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-toI6W0rpTo .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-toI6W0rpTo .row {
  flex-direction: row-reverse;
}
.cid-toI6W0rpTo img {
  width: 100%;
}
.cid-toI8MMUF2Y {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-toI8MMUF2Y .mbr-fallback-image.disabled {
  display: none;
}
.cid-toI8MMUF2Y .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toI8MMUF2Y .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-toI8MMUF2Y .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-toI8MMUF2Y .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-toI8MMUF2Y .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-toI8MMUF2Y .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-toI8MMUF2Y .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-toI8MMUF2Y .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-toI8MMUF2Y .card-title {
  text-align: center;
  color: #e43f3f;
}
.cid-toI8MMUF2Y .mbr-text,
.cid-toI8MMUF2Y .mbr-section-btn {
  text-align: center;
  color: #012566;
}
.cid-toIbfsd1IV {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-toIbfsd1IV .mbr-fallback-image.disabled {
  display: none;
}
.cid-toIbfsd1IV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toIbfsd1IV .mbr-section-title {
  color: #012566;
}
.cid-trkXSXhq4i {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-trkXSXhq4i .mbr-fallback-image.disabled {
  display: none;
}
.cid-trkXSXhq4i .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-trkXSXhq4i .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-trkXSXhq4i .row {
  flex-direction: row-reverse;
}
.cid-trkXSXhq4i img {
  width: 100%;
}
.cid-toIbufC1NN {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-toIbufC1NN .mbr-fallback-image.disabled {
  display: none;
}
.cid-toIbufC1NN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toIbufC1NN .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-toIbufC1NN .card-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
  background-color: transparent;
}
.cid-toIbufC1NN .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-toIbufC1NN .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-toIbufC1NN .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-toIbufC1NN .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-toIbufC1NN .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-toIbufC1NN .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-toIbufC1NN .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-toIbufC1NN .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-toIbufC1NN .card-title {
  color: #365895;
}
.cid-toIbufC1NN .card-subtitle {
  color: #012566;
}
.cid-s48OLK6784 .navbar-dropdown {
  position: relative !important;
}
.cid-s48OLK6784 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown-menu {
  padding: 0;
}
.cid-s48OLK6784 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .dropdown-item:hover,
.cid-s48OLK6784 .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-s48OLK6784 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s48OLK6784 .nav-link {
  position: relative;
}
.cid-s48OLK6784 .container {
  display: flex;
  margin: auto;
}
.cid-s48OLK6784 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s48OLK6784 .navbar-caption {
  padding-right: 4rem;
}
.cid-s48OLK6784 .dropdown-menu,
.cid-s48OLK6784 .navbar.opened {
  background: #ffffff !important;
}
.cid-s48OLK6784 .nav-item:focus,
.cid-s48OLK6784 .nav-link:focus {
  outline: none;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s48OLK6784 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s48OLK6784 .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #ffffff;
}
.cid-s48OLK6784 .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .navbar.opened {
  transition: all .3s;
}
.cid-s48OLK6784 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s48OLK6784 .navbar .navbar-logo img {
  width: auto;
}
.cid-s48OLK6784 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-s48OLK6784 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s48OLK6784 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s48OLK6784 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s48OLK6784 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s48OLK6784 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s48OLK6784 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s48OLK6784 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s48OLK6784 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s48OLK6784 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s48OLK6784 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-s48OLK6784 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s48OLK6784 .navbar.navbar-short {
  min-height: 60px;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s48OLK6784 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s48OLK6784 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s48OLK6784 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s48OLK6784 .dropdown-item.active,
.cid-s48OLK6784 .dropdown-item:active {
  background-color: transparent;
}
.cid-s48OLK6784 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s48OLK6784 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s48OLK6784 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-s48OLK6784 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s48OLK6784 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 .navbar-dropdown {
  padding: .5rem 1rem;
}
.cid-s48OLK6784 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s48OLK6784 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s48OLK6784 .navbar {
    height: 77px;
  }
  .cid-s48OLK6784 .navbar.opened {
    height: auto;
  }
  .cid-s48OLK6784 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-toIgqnKsZ8 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #012566;
}
.cid-toIgqnKsZ8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-toIgqnKsZ8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toIgqnKsZ8 .mbr-section-title {
  color: #ffffff;
}
.cid-toIh1sRfPN {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fafafa;
}
.cid-toIh1sRfPN .item:focus,
.cid-toIh1sRfPN span:focus {
  outline: none;
}
.cid-toIh1sRfPN .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-toIh1sRfPN .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-toIh1sRfPN .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-toIh1sRfPN .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-toIh1sRfPN .mbr-section-btn {
  margin-top: auto !important;
}
.cid-toIh1sRfPN .mbr-section-title {
  color: #232323;
}
.cid-toIh1sRfPN .mbr-text,
.cid-toIh1sRfPN .mbr-section-btn {
  text-align: center;
}
.cid-toIh1sRfPN .item-title {
  text-align: center;
}
.cid-toIh1sRfPN .item-subtitle {
  text-align: center;
  color: #232323;
}
.cid-toIh1sRfPN .mbr-section-subtitle {
  color: #1459d8;
}
.cid-ttczDtgKwZ {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fafafa;
}
.cid-ttczDtgKwZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-ttczDtgKwZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-ttczDtgKwZ .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-ttczDtgKwZ .row {
  flex-direction: row-reverse;
}
.cid-ttczDtgKwZ img {
  width: 100%;
}
.cid-toIkjrm6OQ {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #012566;
}
.cid-toIkjrm6OQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-toIkjrm6OQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toIkjrm6OQ .mbr-section-title {
  color: #ffffff;
}
.cid-toIla30KQJ {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-toIla30KQJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-toIla30KQJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toIla30KQJ .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-toIla30KQJ .mbr-section-subtitle {
  text-align: left;
  color: #012566;
}
.cid-toImqLfqaH {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #012566;
}
.cid-toImqLfqaH .mbr-fallback-image.disabled {
  display: none;
}
.cid-toImqLfqaH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toImqLfqaH .mbr-section-title {
  color: #ffffff;
}
.cid-toNeDD8zJw {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-toNeDD8zJw .mbr-fallback-image.disabled {
  display: none;
}
.cid-toNeDD8zJw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toNeDD8zJw .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-toNeDD8zJw .card {
    margin-bottom: 2rem!important;
  }
  .cid-toNeDD8zJw .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-toNeDD8zJw .link-wrap {
    align-items: center;
  }
}
.cid-toNeDD8zJw .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-toNeDD8zJw .mbr-text {
  color: #012566;
}
.cid-toNhsWHibu {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #012566;
}
.cid-toNhsWHibu .mbr-fallback-image.disabled {
  display: none;
}
.cid-toNhsWHibu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toNhsWHibu .mbr-section-title {
  color: #ffffff;
}
.cid-toNhtEgLLW {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-toNhtEgLLW .mbr-fallback-image.disabled {
  display: none;
}
.cid-toNhtEgLLW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toNhtEgLLW .mbr-section-subtitle {
  text-align: left;
  color: #012566;
}
.cid-toNhtEgLLW .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-toNkzXIqdc {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #012566;
}
.cid-toNkzXIqdc .mbr-fallback-image.disabled {
  display: none;
}
.cid-toNkzXIqdc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toNkzXIqdc .mbr-section-title {
  color: #ffffff;
}
.cid-trk6PGQosy {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0c347f;
}
.cid-trk6PGQosy .mbr-fallback-image.disabled {
  display: none;
}
.cid-trk6PGQosy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-trk6PGQosy .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-trk6PGQosy .row {
  flex-direction: row-reverse;
}
.cid-trk6PGQosy img {
  width: 100%;
}
.cid-trk6PGQosy .mbr-text {
  color: #ffffff;
}
.cid-toNkYehMho {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #012566;
}
.cid-toNkYehMho .mbr-fallback-image.disabled {
  display: none;
}
.cid-toNkYehMho .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toNkYehMho .mbr-section-title {
  color: #ffffff;
}
.cid-trl06jDSIg {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-trl06jDSIg .mbr-fallback-image.disabled {
  display: none;
}
.cid-trl06jDSIg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-trl06jDSIg .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-trl06jDSIg .row {
  flex-direction: row-reverse;
}
.cid-trl06jDSIg img {
  width: 100%;
}
.cid-toWcUshE6j {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-toWcUshE6j .mbr-fallback-image.disabled {
  display: none;
}
.cid-toWcUshE6j .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-toWcUshE6j .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-toWcUshE6j .row {
  flex-direction: row-reverse;
}
.cid-toWcUshE6j img {
  width: 100%;
}
.cid-toNoMmulG3 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-toNoMmulG3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-toNoMmulG3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toNoMmulG3 .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  align-items: flex-start;
}
@media (min-width: 991px) {
  .cid-toNoMmulG3 .item {
    margin-bottom: 4rem;
  }
}
.cid-toNoMmulG3 .item:last-child .icon-box:before {
  display: none;
}
.cid-toNoMmulG3 .item.last .icon-box:before {
  display: none;
}
.cid-toNoMmulG3 .icon-box {
  background: #1459d8;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-toNoMmulG3 .icon-box {
    margin-right: 1rem;
  }
}
.cid-toNoMmulG3 span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-toNoMmulG3 .card {
    margin-bottom: 2rem;
  }
  .cid-toNoMmulG3 .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-toNoMmulG3 .mbr-text,
.cid-toNoMmulG3 .mbr-section-btn {
  color: #012566;
}
.cid-toNoMmulG3 .icon-title {
  color: #012566;
}
.cid-toNoMmulG3 .icon-text {
  color: #012566;
}
.cid-toWkpXIs1U {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #012566;
}
.cid-toWkpXIs1U .mbr-fallback-image.disabled {
  display: none;
}
.cid-toWkpXIs1U .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toWkpXIs1U .mbr-section-title {
  color: #ffffff;
}
.cid-toWksy7BmC {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-toWksy7BmC .mbr-fallback-image.disabled {
  display: none;
}
.cid-toWksy7BmC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toWksy7BmC .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  align-items: flex-start;
}
@media (min-width: 991px) {
  .cid-toWksy7BmC .item {
    margin-bottom: 4rem;
  }
}
.cid-toWksy7BmC .item:last-child .icon-box:before {
  display: none;
}
.cid-toWksy7BmC .item.last .icon-box:before {
  display: none;
}
.cid-toWksy7BmC .icon-box {
  background: #1459d8;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-toWksy7BmC .icon-box {
    margin-right: 1rem;
  }
}
.cid-toWksy7BmC span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-toWksy7BmC .card {
    margin-bottom: 2rem;
  }
  .cid-toWksy7BmC .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-toWksy7BmC .mbr-text,
.cid-toWksy7BmC .mbr-section-btn {
  color: #012566;
}
.cid-toWksy7BmC .icon-title {
  color: #012566;
}
.cid-toNrLfLmrw {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #012566;
}
.cid-toNrLfLmrw .mbr-fallback-image.disabled {
  display: none;
}
.cid-toNrLfLmrw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toNrLfLmrw .mbr-section-title {
  color: #ffffff;
}
.cid-toWh0dWY6h {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-toWh0dWY6h .item:focus,
.cid-toWh0dWY6h span:focus {
  outline: none;
}
.cid-toWh0dWY6h .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-toWh0dWY6h .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-toWh0dWY6h .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-toWh0dWY6h .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-toWh0dWY6h .mbr-section-btn {
  margin-top: auto !important;
}
.cid-toWh0dWY6h .mbr-section-title {
  color: #232323;
}
.cid-toWh0dWY6h .mbr-text,
.cid-toWh0dWY6h .mbr-section-btn {
  text-align: center;
}
.cid-toWh0dWY6h .item-title {
  text-align: center;
}
.cid-toWh0dWY6h .item-subtitle {
  text-align: center;
  color: #232323;
}
.cid-toWh0dWY6h .mbr-section-subtitle {
  color: #1459d8;
}
.cid-toNsKm6zpn {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #012566;
}
.cid-toNsKm6zpn .mbr-fallback-image.disabled {
  display: none;
}
.cid-toNsKm6zpn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-toNsKm6zpn .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-toNsKm6zpn img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-toNsKm6zpn .text-wrapper {
    padding: 2rem;
  }
}
.cid-toNsKm6zpn .mbr-section-title {
  text-align: center;
  color: #ffe161;
}
.cid-toNsKm6zpn .mbr-text {
  text-align: center;
  color: #ffffff;
}
.cid-toNtwphlXU {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f1f1f1;
}
.cid-toNtwphlXU .mbr-fallback-image.disabled {
  display: none;
}
.cid-toNtwphlXU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toNtwphlXU .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #6592e6;
  margin-left: 1rem;
}
.cid-toNtwphlXU .panel-group {
  border: none;
}
.cid-toNtwphlXU .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-toNtwphlXU .panel-body,
.cid-toNtwphlXU .card-header {
  padding: 1rem 0;
}
.cid-toNtwphlXU .panel-title-edit {
  color: #012566;
}
.cid-toNtwphlXU .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-toNtwphlXU H3 {
  color: #012566;
}
.cid-toNtwphlXU .panel-text {
  color: #012566;
}
.cid-toNx4LzMxs {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-toNx4LzMxs .mbr-fallback-image.disabled {
  display: none;
}
.cid-toNx4LzMxs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-toNx4LzMxs .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-toNx4LzMxs .row {
  flex-direction: row-reverse;
}
.cid-toNx4LzMxs img {
  width: 100%;
}
.cid-toNx4LzMxs .mbr-description {
  color: #4479d9;
}
.cid-toNxQOKQjN {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-toNxQOKQjN .mbr-fallback-image.disabled {
  display: none;
}
.cid-toNxQOKQjN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toNxQOKQjN .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-toNxQOKQjN .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
.cid-toNxQOKQjN .mbr-section-title {
  color: #4479d9;
}
.cid-toNxQOKQjN .mbr-text,
.cid-toNxQOKQjN .mbr-section-btn {
  color: #000000;
}
.cid-toNAhA6gbD {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #0c347f;
}
.cid-toNAhA6gbD .mbr-fallback-image.disabled {
  display: none;
}
.cid-toNAhA6gbD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-toNAhA6gbD .mbr-section-title {
  color: #ffffff;
}
.cid-toNAhA6gbD .mbr-section-subtitle {
  color: #ffffff;
}
.cid-toNAH7wgU2 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-toNAH7wgU2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-toNAH7wgU2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-toNAH7wgU2 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-toNAH7wgU2 .row {
  flex-direction: row-reverse;
}
.cid-toNAH7wgU2 img {
  width: 100%;
}
.cid-toNAH7wgU2 .mbr-description {
  color: #012566;
}
.cid-toNBiIpDds {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-toNBiIpDds blockquote {
  border-color: #6592e6;
  border-radius: 4px;
  background-color: #fafafa;
}
.cid-toNBiIpDds .mbr-section-title {
  color: #012566;
}
.cid-toNBiIpDds .mbr-text {
  color: #012566;
}
.cid-trkTfxccCz {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #f7f4f4;
}
.cid-trkTfxccCz .mbr-fallback-image.disabled {
  display: none;
}
.cid-trkTfxccCz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-trkTfxccCz .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-trkTfxccCz .row {
  flex-direction: row-reverse;
}
.cid-trkTfxccCz img {
  width: 100%;
}
.cid-toNC0FJneL {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #012566;
}
.cid-toNC0FJneL .row-links {
  width: 100%;
  justify-content: center;
}
.cid-toNC0FJneL .social-row {
  width: 100%;
  justify-content: center;
}
.cid-toNC0FJneL .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-toNC0FJneL .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-toNC0FJneL .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-toNC0FJneL .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-toNC0FJneL .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-toNC0FJneL .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-toNC0FJneL .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-toNC0FJneL .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-toNC0FJneL .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-toNC0FJneL .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-toNC0FJneL .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-toNC0FJneL .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-toNC0FJneL foot-menu-item DIV {
  text-align: right;
}
